.App {
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 20px;
  /* background-color: blue; */
}
.app {
  display: flex;
  height: 100vh;
}
.editor {
  flex: 1;
  background-color: black;
  /* border:1px solid red; */
  color: white;
  height: 100%;
  overflow: auto;
}
.buttons_at_top{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.hamburger{
  display: none;
}
.buttons_at_top div{
  border:0px solid red;
  display: flex;
  flex-wrap: wrap;
}
.buttons_at_top button{
  padding:7px;
  cursor: pointer;
  margin:0px 5px 10px 10px;
  border-radius: 10px;
}
.buttons_at_top select{
  padding: 7px;
  display: block;
  cursor:pointer;
  background-color: rgb(238,238,238);
  border-radius: 10px;
  margin:0px 5px 10px 10px;
}
.buttons_at_top div:nth-child(2){
  margin: 0px  10px;
  /* border: 1px dotted red; */
}
.output_response{
  width:100%;
  /* border:1px solid orange; */
  white-space: pre-wrap;
  text-align: left;
}
.output {
  flex: 1;
  background-color: lightblue;
  /* border: 1px solid red; */
  /* padding: 10px; */
  height: 100%;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media  screen and (width<=768px) {
  .buttons_at_top{
    display: none;
  }
  .hamburger{
    /* display: block; */
    display: flex;
    justify-content: space-around;
  }
  /* .hamburger>svg{
    border:1px solid red;
    margin-left: 10px;
  } */
  .hamburger div:nth-child(2)>select span{
    /* border:1px solid red; */
  }
}
@media screen and (width<=624px) {
  .hamburger div:nth-child(2)>select{
    display: block;
    border: 0px solid red;
  }
}